PORT=3001
GOOGLE_MAPS_API_KEY=AIzaSyAmta1q0E63ZqjWC-T-OwydVBIzhFFvnSY

# Configurações do Banco de Dados SQL Server
DB_SERVER=localhost
DB_USER=sa
DB_PASSWORD=tid@125632
DB_NAME=startapp_magicroute
# DB_INSTANCE=TIDSCI_2022 # Deixar em branco no Linux para usar a porta padrão 1433
# DB_PORT=1433
# DB_ENCRYPT=false
